.dashboard-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color:rgb(132, 123, 67);
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 50px;
  font-family: 'Times New Roman', Times, serif; /* Roman font for text */
}

.dashboard-container h1 {
  color: #ffffff;
}

.dashboard-container p {
  color: #fdfdfd;
  margin-top: 10px;
}

.button-container {
  display: flex;
  justify-content: space-evenly; /* Space out buttons */
  margin-top: 20px;
}

button {
  background-color: #635f43; /* Blue background */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

button:hover {
  transform: scale(1.1); /* Increase size on hover */
  background-color: #453e1d; /* Darker shade of blue on hover */
}

.hover-explanation {
  color: white;
  margin-top: 20px;
  height: 20px; /* Fixed height to prevent layout shift */
}

.dashboard-container > * {
  margin-bottom: 20px; /* This adds space below each element */
}

.dashboard-container input,
.dashboard-container button {
  margin-bottom: 10px; /* Smaller margin for inputs and buttons for better form grouping */
  width: 25%; /* Optional: Makes inputs and buttons full width for consistency */
  padding: 10px; /* Optional: Adds padding for better touch targets */
  margin-left: 10px;
  margin-right: 20px;
  border-radius: 10px;
  text-shadow: black;

}

.dashboard-container ul {
  padding-left: 20px; /* Adds indentation to list items */
}

.error-message {
  color: red; /* Style for error messages */
  margin-top: 20px; /* Space above the error message */
}

